:root {
  --colorOrange: #ffb742;
  --colorWhite: #ffffff;
  --colordarkgray: #292b2e;
  --colorTextDarkGray: #212529;
  --colorTextLightGrey: #d5d5d5;
  --colorIcon: #383e45;

  --fontPoppins: "Poppins", sans-serif;
  --fontInter: "Inter", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
  --fontWorkSans: "Work Sans", sans-serif;
}
body,
ul {
  margin: 0;
  padding: 0;
  background-color: #212529;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* --------------Header------------- */

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 66px;
  width: 95%;
}

.header__block__item {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.header__block__item {
  padding: 10px;
  box-sizing: border-box;
}
.header__block__item li {
  color: var(--colorWhite);
  transition: color 250ms linear;
  font-family: var(--fontPoppins);
  font-weight: 600;
  font-size: 18px;
}
.header__block__item li:hover {
  color: var(--colorOrange);
}

.header__block__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 54px;
  background-color: var(--colorOrange);
  border-radius: 50px;
  font-family: var(--fontPoppins);
  font-weight: 700;
  font-size: 18px;
  color: var(--colorTextDarkGray);
}
/* ------------------Section-------- */
.section {
  padding-top: 108px;
  box-sizing: border-box;
}
.section__title:first-child {
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--colorWhite);
  padding: 5px;
  box-sizing: border-box;
}
.section__title:first-child span {
  color: var(--colorOrange);
  border-bottom: 2px solid var(--colorOrange);
}
.section__title:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--colorWhite);
}
.section__title:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--colorWhite);
}
.section__title:last-child {
  margin: 0 auto;
  width: 210px;
}

/* -----------Cards---------------- */
.card {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  padding-top: 136px;
  box-sizing: border-box;
}
.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  width: 30%;
  background-color: var(--colordarkgray);
  border-radius: 10px;
}
.card-box:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}
.card-box:hover div {
  color: var(--colorTextDarkGray);
}

.card-box__element:first-child,
.card-box__element:last-child {
  padding: 5px 30px;
  box-sizing: border-box;
}
.card-box__element:nth-child(2) {
  padding: 25px 30px;
  box-sizing: border-box;
}
.card-box__element__title {
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  color: var(--colorOrange);
}
.card-box__element__text {
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  color: var(--colorWhite);
}
/* --------- About Me --------------- */
.block-about {
  display: flex;
  justify-content: space-between;
  padding-top: 221px;
  padding-left: 10px;
  padding-right: 51px;
  box-sizing: border-box;
}
.block-about__container,
.skills__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.block-about__info:first-child,
.block-about__info:last-child,
.skills__info:first-child,
.skills__info:first-child:last-child,
.works__info:first-child,
.testimonials__info:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontPoppins);
}
.block-about__info:first-child,
.skills__info:first-child,
.works__info:first-child,
.testimonials__info:first-child {
  width: 148px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--colorOrange);
  padding: 6px 25px;
  box-sizing: border-box;
}
.block-about__info:nth-child(2),
.skills__info:nth-child(2),
.works__info:nth-child(2),
.testimonials__info:nth-child(2) {
  font-family: var(--fontRoboto);
  font-weight: 700;
  font-size: 48px;
  padding-top: 5px;
  padding-bottom: 25px;
  box-sizing: border-box;
  color: var(--colorWhite);
}
.block-about__info:nth-child(3) {
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 54px;
  padding-top: 5px;
  box-sizing: border-box;
  color: var(--colorTextLightGrey);
}
.block-about__info:last-child,
.skills__info:last-child {
  width: 148px;
  height: 54px;
  background-color: var(--colorOrange);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  color: var(--colorTextDarkGray);
  padding: 12px 26px;
  box-sizing: border-box;
}

.skills {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 18px;
  box-sizing: border-box;
}
.skills__container {
  height: 359px;
}
.skills__cards {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skills__cards__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding-bottom: 16px;
  box-sizing: border-box;
  width: 560px;
}
.skills__info:nth-child(3) {
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 63px;
  padding-top: 5px;
  box-sizing: border-box;
  color: var(--colorWhite);
}
.skills__cards__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--colorIcon);
}
.skills__cards__element:hover {
  background-color: rgba(255, 183, 66, 0.5);
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ---------------Works-------------- */
.works {
  width: 85%;
  margin: 0 auto;
  padding-top: 136px;
  box-sizing: border-box;
}
.works__info:first-child {
  width: 160px;
  margin: 0 auto;
}
.works__info:nth-child(2) {
  text-align: center;
}
.works__info:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.works__info__element {
  font-family: var(--fontPoppins);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  box-sizing: border-box;
  color: var(--colorWhite);
}
.works__info__element:hover {
  background-color: var(--colorOrange);
  border-radius: 3px;
  color: var(--colorTextDarkGray);
}
.works__info:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.works__info__img-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.works__info__img-group img {
  padding-bottom: 15px;
  box-sizing: border-box;
}
/* -----------Testimonials-------------- */
.testimonials {
  width: 85%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 253px;
  box-sizing: border-box;
}
.testimonials__info:first-child {
  margin: 0 auto;
  width: 192px;
}
.testimonials__info:nth-child(2) {
  font-size: 39px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 90px;
  box-sizing: border-box;
}
.testimonials__info:nth-child(3) {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.testimonials__info__card {
  display: flex;
  flex-direction: column;
  width: 378px;
  background-color: var(--colorWhite);
  border-radius: 8px;
}
.testimonials__card__element:first-child {
  padding-top: 52px;
  padding-left: 33px;
  padding-right: 52px;
  box-sizing: border-box;
}
.testimonials__card__element:nth-child(2) {
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  padding-top: 21px;
  padding-left: 33px;
  padding-right: 52px;
  padding-bottom: 36px;
  box-sizing: border-box;
}
.testimonials__card__element:last-child {
  display: flex;
  padding-left: 33px;
  padding-right: 52px;
  padding-bottom: 49px;
  box-sizing: border-box;
}
.testimonials__card__element-block {
  padding-left: 24px;
  box-sizing: border-box;
}
.testimonials__card__element-title {
  font-family: var(--fontPoppins);
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}
.testimonials__card__element-name {
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}
/* -------------Footer ---------------*/
.footer-background {
  background-color: #1c1c1c;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 470px;
}
.footer-name {
  max-width: 253px;
}
.footer-name:first-child {
  font-family: var(--fontPoppins);
  font-weight: 700;
  font-size: 32px;
  color: var(--colorOrange);
}
.footer-name:last-child {
  font-family: var(--fontWorkSans);
  font-weight: 600;
  font-size: 16px;
  line-height: 32.4px;
  color: #d4d4d4;
  padding-top: 30px;
  box-sizing: border-box;
}
.footer-block {
  padding-top: 148px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.footer-block:nth-child(2),
.footer-block:nth-child(3) {
  display: flex;
  flex-direction: column;
}
.footer-block__title {
  font-family: var(--fontWorkSans);
  font-weight: 700;
  font-size: 21.5px;
  line-height: 32px;
  color: #f5fbf2;
  padding-bottom: 10px;
}
.footer-block a {
  font-family: var(--fontWorkSans);
  font-weight: 500;
  font-size: 18px;
  line-height: 36.4px;
  color: #7b7b7b;
}
.footer-block a:hover {
  color: var(--colorOrange);
}
.footer-block:last-child {
  max-width: 319px;
}
